

.nav {
  height: 100vh;
  background-color: #001529
}

.main-warp {
  height: 100vh;
  background-color: #f1f3f5;
  overflow: auto;
}

.content-warp {
  background-color: #f1f3f5;
  padding: 30px;
  
  .content {
    background-color: #fff;
    border-radius: 6px;
  }
}